.appbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.layout {
  position: relative;
  top: 6.4rem;
  display: flex;
}

.main {
  left: 13vw;
  width: calc((100vw - 24rem));
  padding: 0 6rem;
  position: relative;
  /* background-color: skyblue; */
  display: flex;
  justify-content: center;
}

.children {
  width: 50%;
}
