.layout {
  background-color: grey;
  border-radius: 1.2rem;
  width: 100%;
  margin: 0.4rem;
}

.head {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
}

.options {
  display: flex;
  gap: 0.6rem;
}
