.sidebar {
  background-color: white;
  position: fixed;
  width: 24rem;
  overflow: auto;
  height: calc(100vh - 64px);
  font-size: 1.4rem;
  color: black;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 0.8rem;
}

.sidebar::-webkit-scrollbar {
  width: 0.3rem;
}

.sidebar::-webkit-scrollbar-thumb {
  background: rgb(var(--foreground-rgb));
  border-radius: 1rem;
}
