.layout {
  background-color: grey;
  border-radius: 1.2rem;
  padding: 0 2rem;
  width: 100%;
}

.layout:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.divider {
  width: 100%;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
}

.left {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.right {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.content {
  margin-bottom: 0.4rem;
  background: green;
  overflow-wrap: break-word;
  font-size: 1.4rem;
}

.avatar {
  border-radius: 10rem;
}

.options {
  display: flex;
  gap: 0.6rem;
  background-color: yellow;
}

.content p {
  padding: 0.4rem;
}
